@{
    ViewData["Title"] = "Cadastrar Fornecedor";
}

<form method="post" id="form">
    <div class="mb-3">
        <label for="fornecedor" class="form-label">Fornecedor</label>
        <input type="text" class="form-control" id="fornecedor" name="fornecedor">
        <small></small>
    </div>
    <div class="mb-3">
        <label for="cnpj" class="form-label">CNPJ (Somente Números)</label>
        <input type="text" class="form-control" id="cnpj" name="cnpj">
        <small></small>
    </div>
    <div class="mb-3">
        <label for="especialidade" class="form-label">Especialidade</label>
        <select class="form-select" aria-label="Default select example" id="especialidade">
            <option value="1" selected>Comércio</option>
            <option value="2">Serviço</option>
            <option value="3">Indústria</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{
<script src="~/js/validation.js"></script>
}
